.imgbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-direction: column; */
}
.retail img{
    margin: 5rem;
   width: 65rem;
   height: 35rem;
   border-radius: 20px;
}